<!doctype html>
<html lang="ko">
<%- include('../include/head.ejs') %>
<script src="/resources/js/jquery-1.8.3.min.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery.easing.min.js"></script>
<script src="/resources/js/topmenu_script.js"></script>
<script src="/resources/js/aos.js"></script>
<script src="/resources/js/feather.min.js"></script>
<link rel="stylesheet" href="/resources/css/aos.css">
<link rel="stylesheet" href="/resources/css/sh_common.css"> 
<link rel="stylesheet" href="/resources/css/sh_sub.css">     
<link rel="stylesheet" href="/resources/css/style.css">     

<body>

<!-- sh_wrapper [s] -->
<div id="sh_wrapper">

    <!-- sh_hd [s] -->
    <%- include('../include/sidebar.ejs') %>
    <!-- sh_hd [e] -->
    
    <!-- sh_container [s] -->
    <main id="sh_container">
        <!-- shSubBnr [s] -->
        <div id="subBnr">
            <div class="txt_area">
                고객지원        
            </div>
        </div> 
        <script>
            $('#subBnr .txt_area').stop().delay(0).animate({"opacity":"1","padding-top":"0"},400);
        </script>
        <!-- shSubBnr [e] -->

        <div id="sh_container_wrapper">
            <!-- sh_aside [s] -->
            <div id="sh_aside">
                <div id="sh_aside_wrapper">
                    <ul id="sh_snb">
                        <li>
                            <a href="/contact/pricingInfo">가격안내</a>
                        </li>
                        <li>
                            <a href="/contact/contact">문의하기</a>
                        </li>
                        <li>
                            <a href="/contact/board" class="snb_on">공지사항</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sh_aside [e] -->
            
            <div id="sh_content">
                <div class="intro-title">
                    <h1>공지사항    </h1>
                    <p>중요한 소식과 업데이트 내용을 확인하실 수 있습니다.</p>
                </div>

                <div class="board-wrapper">
                    <div class="board-search">
                        <select name="searchType">
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                        </select>
                        <input type="text" placeholder="검색어를 입력하세요">
                        <button type="button" class="search-btn">검색</button>
                    </div>

                    <div class="board-list">
                        <table>
                            <thead>
                                <tr>
                                    <th width="10%">번호</th>
                                    <th width="60%">제목</th>
                                    <th width="15%">작성일</th>
                                    <th width="15%">조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="notice">
                                    <td><span class="badge-notice">공지</span></td>
                                    <td class="title"><a href="#">서비스 이용약관 개정 안내</a></td>
                                    <td>2024.03.21</td>
                                    <td>238</td>
                                </tr>
                                <!-- 일반 게시글 -->
                                <tr>
                                    <td>15</td>
                                    <td class="title"><a href="#">3월 정기 시스템 점검 안내</a></td>
                                    <td>2024.03.15</td>
                                    <td>156</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="board-pagination">
                        <a href="#" class="prev-btn"><i data-feather="chevron-left"></i></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#" class="next-btn"><i data-feather="chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- sh_container [e] -->
    
    <%- include('../include/footer.ejs') %>

<!-- sh_wrapper [e] -->
</div>

<script>
    feather.replace();
    AOS.init();
</script>

</body>
</html>

