
<header id="sh_hd">
    <div class="sh_lnb_bg"></div>
    <div id="sh_hd_wrapper">
        
        <div id="shGnb" class="main">  
            <div class="sh_logo">
                <a href="/index"><img src="/resources/img/common/logo.png" alt=""></a>
            </div>
            <nav class="sh_nav">
                <ul>
                    <li>
                        <a href="/about/aboutCompany">회사소개</a>
                        <ul class="sh_lnb_s">
                            <li><a href="/about/aboutCeo">CEO 인사말</a></li>
                            <li><a href="/about/aboutHistory">연혁</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/service/axDx">주요 사업</a>
                        <ul class="sh_lnb_s">
                            <li><a href="/service/axDx">인공지능/디지털 전환 컨설팅</a></li>
                            <li><a href="/service/processOptimization">인공지능 전환 적용 시스템 구축</a></li>
                            <li><a href="/service/smartManufacturing">스마트제조 시스템 구축</a></li>
                            <li><a href="/service/appWeb">맞춤형 앱/웹 제작</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/solutions/mes">주요 솔루션</a>
                        <ul class="sh_lnb_s">
                            <li><a href="/solutions/mes">P.MES 제조실행시스템</a></li>
                            <li><a href="/solutions/predictiveConservation">예지보전 플랫폼</a></li>
                            <li><a href="/solutions/digitalTwin">AI기반 디지털트윈</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact/contact">고객지원</a>
                        <ul class="sh_lnb_s">
                            <li><a href="/contact/pricingInfo">가격안내</a></li>
                            <li><a href="/contact/contact">문의하기</a></li>
                            <li><a href="/contact/board">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- <div id="pfBtn">
                <span></span>
            </div> -->
            <div id="pfWrap">
                <div class="bg_wrap"><div class="bg"></div></div>
                <div class="pf_cate_wrap">
                    <div class="pf_cate">
                        <ul>
                            <li>
                                <a href="/about/aboutCompany">회사소개</a>
                                <ul class="sh_lnb_s">
                                    <li><a href="/about/aboutCeo">CEO 인사말</a></li>
                                    <li><a href="/about/aboutHistory">연혁</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/service/axDx">주요 사업업</a>
                                <ul class="sh_lnb_s">
                                    <li><a href="/service/axDx">인공지능/디지털 전환 컨설팅</a></li>
                                    <li><a href="/service/processOptimization">인공지능 전환 적용 시스템 구축</a></li>
                                    <li><a href="/service/smartManufacturing">스마트제조 시스템 구축</a></li>
                                    <li><a href="/service/appWeb">맞춤형 앱/웹 제작</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/solutions/mes">주요 솔루션</a>
                                <ul class="sh_lnb_s">
                                    <li><a href="/solutions/mes">P.MES 제조실행시스템</a></li>
                                    <li><a href="/solutions/predictiveConservation">예지보전 플랫폼</a></li>
                                    <li><a href="/solutions/digitalTwin">AI기반 디지털트윈</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/contact/contact">고객지원</a>
                                <ul class="sh_lnb_s">
                                    <li><a href="/contact/pricingInfo">가격안내</a></li>
                                    <li><a href="/contact/contact">문의하기</a></li>
                                    <li><a href="/contact/board">공지사항</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>	

        <!-- 반응형메뉴 [s] -->
        <div id="topmenuM">
            <h1 id="m_logo"><a href="/index"><img src="/resources/img/common/logo.png" alt="" /></a></h1>
            <!-- 메뉴 버튼 -->
            <div id="m_navBtn"><span></span></div>
            <!-- 오픈 메뉴 -->
            <div id="navWrap">
                <div class="inner">
                    <ul class="m_lnb">
                        <li>
                            <button class="m_bmenu" type="button">회사소개</button>
                            <ul class="m_smenu">
                                <li><a href="/about/aboutCompany">회사소개</a></li>
                                <li><a href="/about/aboutCeo">CEO 인사말</a></li>
                                <li><a href="/about/aboutHistory">연혁</a></li>
                            </ul>
                        </li>
                        <li>
                            <button class="m_bmenu" type="button">주요 사업</button>
                            <ul class="m_smenu">
                                <li><a href="/service/axDx">인공지능/디지털 전환 컨설팅</a></li>
                                <li><a href="/service/processOptimization">인공지능 전환 적용 시스템 구축</a></li>
                                <li><a href="/service/smartManufacturing">스마트제조 시스템 구축</a></li>
                                <li><a href="/service/appWeb">맞춤형 앱/웹 제작</a></li>
                            </ul>
                        </li>                        
                        <li>
                            <button class="m_bmenu" type="button">주요 솔루션</button>
                            <ul class="m_smenu">
                                <li><a href="/solutions/mes">P.MES</a></li>
                                <li><a href="/solutions/predictiveConservation">예지보전 플랫폼</a></li>
                                <li><a href="/solutions/digitalTwin">AI기반 디지털트윈</a></li>
                            </ul>
                        </li>
                        <li>
                            <button class="m_bmenu" type="button">고객지원</button>
                            <ul class="m_smenu">
                                <li><a href="/contact/pricingInfo">가격안내</a></li>
                                <li><a href="/contact/contact">문의하기</a></li>
                                <li><a href="/contact/board">공지사항</a></li>
                            </ul>
                        </li>
                    </ul> 
                    <!-- <p class="mo_hd_copy">ⓒ Sample</p>          -->
                </div>
            </div>
        </div>
        <!-- 반응형메뉴 [e] -->
    </div>           
</header>