<!doctype html>
<html lang="ko">
<%- include('../include/head.ejs') %>
<script src="/resources/js/jquery-1.8.3.min.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery.easing.min.js"></script>
<script src="/resources/js/topmenu_script.js"></script>
<script src="/resources/js/aos.js"></script>
<script src="/resources/js/feather.min.js"></script>
<link rel="stylesheet" href="/resources/css/aos.css">
<link rel="stylesheet" href="/resources/css/sh_common.css"> 
<link rel="stylesheet" href="/resources/css/sh_sub.css">     
<link rel="stylesheet" href="/resources/css/style.css">     

<body>
<!-- sh_wrapper [s] -->
<div id="sh_wrapper">
    <!-- sh_hd [s] -->
    <%- include('../include/sidebar.ejs') %>
    <!-- sh_hd [e] -->
    
    <!-- sh_container [s] -->
    <main id="sh_container">
        <!-- shSubBnr [s] -->
        <div id="subBnr">
            <div class="txt_area">
                주요 사업        
            </div>
        </div> 
        <script>
            $('#subBnr .txt_area').stop().delay(0).animate({"opacity":"1","padding-top":"0"},400);
        </script>
        <!-- shSubBnr [e] -->

        <div id="sh_container_wrapper">
            <!-- sh_aside [s] -->
            <div id="sh_aside">
                <div id="sh_aside_wrapper">
                    <ul id="sh_snb">
                        <li>
                            <a href="/service/axDx" class="snb_on">인공지능/디지털 전환 컨설팅</a>
                        </li>
                        <li>
                            <a href="/service/processOptimization">인공지능 전환 적용 시스템 구축</a>
                        </li>
                        <li>
                            <a href="/service/smartManufacturing">스마트제조 시스템 구축</a>
                        </li>
                        <li>
                            <a href="/service/appWeb">맞춤형 앱/웹 제작</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sh_aside [e] -->

            <div id="sh_content" data-aos="fade-up">
                <div class="intro-title">
                    <h1>인공지능/디지털 전환 컨설팅</h1>
                    <p>가공 DB 및 인공지능 분석 기반 최적화 SW 개발 결과를
                        활용하여<br>AI  알고리즘 기반 산업용 설비 예지보전 플랫폼 솔루션화
                    </p>
                </div>

                <section class="vision" id="vision" data-aos="fade-up">
                    <!-- <h2>우리의 강점</h2> -->
                    <div class="vision-grid">
                        <div>
                            <div class="business-placeholder">
                                <img src="/resources/img/sub/icons/technology.png" alt="기술적 역량">
                                <h3>기술적 역량</h3>
                            </div>
                            <div class="business-content">
                                <h3>최신 기술 이해</h3>
                                <p>AI, IoT, 클라우드, 데이터 분석</p>
                                <h3>소프트웨어 엔지니어링</h3>
                                <p>시스템 설계 및 통합</p>
                                <h3>데이터 엔지니어링</h3>
                                <p>데이터 파이프라인 설계 및 구축</p>
                            </div>
                        </div>
                        <div>
                            <div class="business-placeholder">
                                <img src="/resources/img/sub/icons/professional-services.png" alt="산업 전문성">
                                <h3>산업 전문성</h3>
                            </div>
                            <div class="business-content">
                                <h3>제조업 공정 및 운영에 대한 심도 있는 이해</h3>
                                <h3>각 산업의 규제 및 표준에 대한 지식</h3>
                            </div>
                        </div>
                        <div>
                            <div class="business-placeholder">
                                <img src="/resources/img/sub/icons/clarification.png" alt="전략적 컨설팅 역량">
                                <h3>전략적 컨설팅 역량</h3>
                            </div>
                            <div class="business-content">
                                <h3>디지털 전환 로드맵 설계</h3>
                                <p>목표 설정, 단계별 계획 수립</p>
                                <h3>ROI(투자 수익률) 분석</h3>
                                <p>DX 및 AIX 투자 대비 효과 예측</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- <section class="hero" data-aos="fade-up">
                <div>
                    <h1>인공지능/디지털 전환 컨설팅</h1>
                    <p>가공 DB 및 인공지능 분석 기반 최적화 SW 개발 결과를
                        활용하여<br>AI  알고리즘 기반 산업용 설비 예지보전 플랫폼 솔루션화
                    </p>
                </div>
                <div class="hero-img">
                    <img src="/resources/img/sub/icons/artificial-intelligence.png" alt="ax/dx">
                </div>
            </section> -->
        </div>
    </main>
    <!-- sh_container [e] -->
    
    <%- include('../include/footer.ejs') %>

<!-- sh_wrapper [e] -->
</div>

<script>
    feather.replace();
    AOS.init({
        duration: 800, // 애니메이션 지속 시간 (밀리초)
        easing: 'ease-in-out', // 애니메이션 이징
        once: true, // 스크롤 시 한 번만 애니메이션 실행
    });
</script>

</body>
</html>

