<!doctype html>
<html lang="ko">
<%- include('../include/head.ejs') %>
<script src="/resources/js/jquery-1.8.3.min.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery.easing.min.js"></script>
<script src="/resources/js/topmenu_script.js"></script>
<script src="/resources/js/aos.js"></script>
<script src="/resources/js/feather.min.js"></script>
<link rel="stylesheet" href="/resources/css/aos.css">
<link rel="stylesheet" href="/resources/css/sh_common.css"> 
<link rel="stylesheet" href="/resources/css/sh_sub.css">     
<link rel="stylesheet" href="/resources/css/style.css">     

<body>

<!-- sh_wrapper [s] -->
<div id="sh_wrapper">

    <!-- sh_hd [s] -->
    <%- include('../include/sidebar.ejs') %>
    <!-- sh_hd [e] -->
    
    <!-- sh_container [s] -->
    <main id="sh_container">
        <!-- shSubBnr [s] -->
        <div id="subBnr">
            <div class="txt_area">
                주요 사업        
            </div>
        </div> 
        <script>
            $('#subBnr .txt_area').stop().delay(0).animate({"opacity":"1","padding-top":"0"},400);
        </script>
        <!-- shSubBnr [e] -->

        <div id="sh_container_wrapper">
            <!-- sh_aside [s] -->
            <div id="sh_aside">
                <div id="sh_aside_wrapper">
                    <ul id="sh_snb">
                        <li>
                            <a href="/service/axDx">인공지능/디지털 전환 컨설팅</a>
                        </li>
                        <li>
                            <a href="/service/processOptimization" class="snb_on">인공지능 전환 적용 시스템 구축</a>
                        </li>
                        <li>
                            <a href="/service/smartManufacturing">스마트제조 시스템 구축</a>
                        </li>
                        <li>
                            <a href="/service/appWeb">맞춤형 앱/웹 제작</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sh_aside [e] -->
            <div id="sh_content" data-aos="fade-up">
                <div class="intro-title">
                    <h1>인공지능 전환 적용 시스템 구축</h1>
                    <p>(코어디아이티) 가공 DB 및 인공지능 분석 기반 최적화 SW 개발</p>
                </div>
            
                <section class="team-strength" id="team" data-aos="fade-up">
                    <h2>플랫폼</h2>
                    <div class="project-grid">
                        <div class="project-placeholder">
                            <ul>
                                <li>플랫폼 형태로 최적화 요구 공정에 대한 정보를 입력하고 표시할 수 있도록 관리하는 기능</li>
                                <li>항공부품 가공 데이터베이스 및 공정 데이터베이스와 통신하는 기능</li>
                            </ul>
                        </div>
                    </div>
                </section>
            
                <section class="project-highlight" id="project" data-aos="fade-up">
                    <h2>NC공정 파라미터 최적화</h2>
                    <div class="project-placeholder">
                        <ul>
                            <li>최적화 요구 공정에 대하여 가공 공정 데이터를 기반으로 AI로 분석하여 NC공정 최적 파라미터를 산출하는 기능</li>
                            <li>- 통계적 분석과 AI 분석 비교</li>
                        </ul>
                    </div>
                </section>
            
                <section class="preview-stack" data-aos="fade-up">
                    <h2>Preview</h2>
                    <div class="preview-grid">
                        <img src="/resources/img/sub/process_img1.png" alt="process_img1">
                        <img src="/resources/img/sub/process_img2.png" alt="process_img2">
                    </div>
                </section>
            </div>

            <!-- <section class="hero" data-aos="fade-up">
                <div>
                    <h1>인공지능 전환 적용 시스템 구축</h1>
                    <p>(코어디아이티) 가공 DB 및 인공지능 분석 기반 최적화 SW 개발</p>
                </div>
                <div class="hero-img">
                    <img src="/resources/img/sub/icons/artificial-intelligence.png" alt="ax/dx">
                </div>
            </section> -->
        </div>
    </main>
    <!-- sh_container [e] -->
    
    <%- include('../include/footer.ejs') %>

<!-- sh_wrapper [e] -->
</div>

<script>
    feather.replace();
    AOS.init({
        duration: 800, // 애니메이션 지속 시간 (밀리초)
        easing: 'ease-in-out', // 애니메이션 이징
        once: true, // 스크롤 시 한 번만 애니메이션 실행
    });
</script>

</body>
</html>

