<!doctype html>
<html lang="ko">
<%- include('../include/head.ejs') %>
<script src="/resources/js/jquery-1.8.3.min.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery.easing.min.js"></script>
<script src="/resources/js/topmenu_script.js"></script>
<script src="/resources/js/aos.js"></script>
<script src="/resources/js/feather.min.js"></script>
<link rel="stylesheet" href="/resources/css/aos.css">
<link rel="stylesheet" href="/resources/css/sh_common.css"> 
<link rel="stylesheet" href="/resources/css/sh_sub.css">     
<link rel="stylesheet" href="/resources/css/style.css">     

<body>

<!-- sh_wrapper [s] -->
<div id="sh_wrapper">

    <!-- sh_hd [s] -->
    <%- include('../include/sidebar.ejs') %>
    <!-- sh_hd [e] -->
    
    <!-- sh_container [s] -->
    <main id="sh_container">
        <!-- shSubBnr [s] -->
        <div id="subBnr">
            <div class="txt_area">
                고객지원        
            </div>
        </div> 
        <script>
            $('#subBnr .txt_area').stop().delay(0).animate({"opacity":"1","padding-top":"0"},400);
        </script>
        <!-- shSubBnr [e] -->

        <div id="sh_container_wrapper">
            <!-- sh_aside [s] -->
            <div id="sh_aside">
                <div id="sh_aside_wrapper">
                    <ul id="sh_snb">
                        <li>
                            <a href="/gnu_mot/privacy" class="snb_on">개인정보처리방침 / 이용약관</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- sh_aside [e] -->
            
            <div id="sh_content">
                <div class="intro-title">
                    <h1>개인정보처리방침 / 이용약관</h1>
                </div>

                <div class="app-privacy-content">
                    <div class="app-privacy-header">
                        <h3>[개인정보처리방침]</h3>
                    </div>
                    <div class="app-privacy-body">
                        <section>
                        <div class="app-privacy-sub-mb">
                            <p>경상국립대학교 기술경영학과(이하 ‘기술경영학과(MOT)’)는 GNU MOT Member 앱을 사용함에 있어 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.</p>
                            <p>기술경영학과(MOT)는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.</p>
                        </div>
                        </section>

                        <section>
                        <p>○ 본 방침은 2025년 1월 2일부터 시행됩니다.</p>
                        </section>

                        <section>
                            <h3>1. 개인정보 처리 목적</h3>
                            <p>기술경영학과(MOT)는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.</p>
                            <div class="app-privacy-sub">
                                <h4>1) GNU MOT Member 앱 회원관리</h4>
                                <div class="app-privacy-sub-mb-p">
                                    <p>회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 각종 고지·통지, 고충처리 등을 목적으로 개인정보를 처리합니다.</p>
                                </div>
                            </div>
                        </section>

                        <section>
                            <h3>2. 개인정보 파일 현황</h3>
                            <div class="app-privacy-sub-mb">
                            <p>기술경영학과(MOT)는 개인정보보호법 제32조에 따라 등록, 공개하는 개인정보파일의 처리목적은 다음과 같습니다.</p>
                            <p>개인정보 파일명 : GNU MOT Member 앱 회원정보</p>
                            <p>개인정보 항목 : 로그인ID, 로그인 비밀번호, 이름, 생년, 휴대전화번호, 이메일, 직장명, 직장주소, 직급, 직책, 직장전화번호, 부서</p>
                            <p>수집방법 : GNU MOT Member 앱</p>
                            <p>보유근거 : 개인정보보호법 제15조</p>
                            <p>보유기간 : 회원 탈퇴 시까지</p>
                            </div>
                        </section>

                        <section>
                            <h3>3. 개인정보의 제3자 제공에 관한 사항</h3>
                            <p>기술경영학과(MOT)는 정보주체의 동의, 법률의 특별한 규정 등 개인정보보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</p>
                        </section>
            
                        <section>
                            <h3>4. 개인정보처리 위탁</h3>
                            <div class="app-privacy-sub-mb">
                            <p>기술경영학과(MOT)는 위탁계약 체결시 개인정보보호법 제25조에 따라 위탁업무 수행 목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
                            <p>위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보처리방침을 통하여 공개하도록 하겠습니다.</p>
                            </div>
                        </section>
            
                        <section>
                            <h3>5. 정보주체의 권리,의무 및 그 행사방법</h3>
                            <div class="app-privacy-sub-mb">
                            <p>이용자는 개인정보 주체로서 다음과 같은 권리를 행사할 수 있습니다.</p>
                            <p>정보주체는 경상국립대학교 기술경영학과 GNU MOT Member 앱에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.</p>
                            <p>1) 개인정보 열람 요구</p>
                            <p>2) 오류 등이 있을 경우 정정 요구</p>
                            <p>3) 삭제 요구</p>
                            <p>4) 처리정지 요구</p>
                            <div class="app-privacy-sub-mt">
                                <p>1)항에 따른 권리 행사는 개인정보보호법 시행규칙 별지 제8호 서식에 따라 서면, 전자우편 등을 통하여 기술경영학과(MOT)에 요청 하실 수 있으며 기술경영학과(MOT)는 이에 대해 지체없이 조치하겠습니다.</p>
                                <p>정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 기술경영학과(MOT)는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.</p>
                            </div>
                            </div>
                        </section>
            
                        <section>
                            <h3>6. 처리하는 개인정보의 항목 작성</h3>
                            <div class="app-privacy-sub-mb">
                                <p>기술경영학과(MOT)의 GNU MOT Member 앱은 다음의 개인정보 항목을 처리하고 있습니다.</p>
                                <p>필수항목 : 로그인ID, 비밀번호, 이름, 휴대전화번호, 이메일, 생년</p>
                                <p>선택항목 : 직장명, 직장주소, 직급, 직책, 직장전화번호, 부서</p>
                            </div>
                        </section>
            
                        <section>
                            <h3>7. 개인정보의 파기</h3>
                            <p>기술경영학과(MOT)는 원칙적으로 개인정보 처리 목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.</p>
                            <div class="app-privacy-sub-mb-p">
                                <h4>1) 파기절차</h4>
                                <p>이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</p>
                                <h4>2) 파기기한</h4>
                                <p>이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.</p>
                                <h4>3) 파기방법</h4>
                                <p>전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.</p>
                            </div>
                        </section>

                        <section>
                            <h3>8. 개인정보의 안전성 확보 조치</h3>
                            <p>기술경영학과(MOT)는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</p>
                            <div class="app-privacy-sub-mb-p">
                                <h4>1) 개인정보 취급 직원의 최소화 및 교육</h4>
                                <p>개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화하여 개인정보를 관리하는 대책을 시행하고 있습니다.</p>
                                <h4>2) 정기적인 자체 감사 실시</h4>
                                <p>개인정보 취급 관련 안정성 확보를 위해 정기적(반기 1회)으로 자체 감사를 실시하고 있습니다.</p>
                                <h4>3) 내부관리계획의 수립 및 시행</h4>
                                <p>개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</p>
                                <h4>4) 개인정보의 암호화</h4>
                                <p>이용자의 개인정보는 비밀번호는 암호화되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.</p>
                                <h4>5) 해킹 등에 대비한 기술적 대책</h4>
                                <p>기술경영학과(MOT)는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.</p>
                                <h4>6) 개인정보에 대한 접근 제한</h4>
                                <p>개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</p>
                                <h4>7) 접속기록의 보관 및 위변조 방지</h4>
                                <p>개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능 사용하고 있습니다.</p>
                                <h4>8) 비인가자에 대한 출입 통제</h4>
                                <p>개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.</p>
                            </div>
                        </section>

                        <section>
                            <h3>9. 개인정보 보호책임자 작성</h3>
                            <div class="app-privacy-sub-mb">
                                <p>기술경영학과(MOT)는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 관리책임자를 지정하고 있습니다.</p>
                                <table>
                                    <tr>
                                        <th>성명</th>
                                        <th>연락처</th>
                                        <th>E-mail</th>
                                    </tr>
                                    <tr>
                                        <td>전정환 교수</td>
                                        <td>055-772-3744</td>
                                        <td>jhjeon@gnu.ac.kr</td>
                                    </tr>
                                </table>
                            </div>
                        </section>

                        <section>
                            <h3>10. 개인정보 처리방침 변경</h3>
                            <div class="app-privacy-sub-mb">
                                <p>이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.</p>
                            </div>
                        </section>
                    </div>
                </div>

                <br><br><br>

                <div class="app-privacy-content">
                    <div class="app-privacy-header">
                        <h3>[이용약관]</h3>
                    </div>
                    <div class="app-privacy-body">
                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제1조] 총칙</h3>
                                <p>경상국립대학교 기술경영학과(MOT)(이하 "기술경영학과(MOT)")는 귀하의 개인정보보호를 매우 중요시하며, 『정보통신망이용촉진등에관한법률』상의 개인정보보호 규정 및 정보통신부가 제정한 『개인정보보호지침』을 준수하고 있습니다. "기술경영학과(MOT)"는 개인정보보호방침을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.</p>
                                <p>"기술경영학과(MOT)"는 개인정보보호방침을 GNU MOT Members 앱 화면에 공개함으로써 귀하께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.</p>
                                <p>"기술경영학과(MOT)"는 개인정보보호방침의 지속적인 개선을 위하여 개인정보보호방침을 개정하는데 필요한 절차를 정하고 있습니다. 그리고 개인정보보호방침을 개정하는 경우 버전번호 등을 부여하여 개정된 사항을 귀하께서 쉽게 알아볼 수 있도록 하고 있습니다.</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제2조] 개인정보 수집에 대한 동의</h3>
                                <p>"기술경영학과(MOT)"는 귀하께서 "기술경영학과(MOT)"의 개인정보보호방침 또는 이용약관의 내용에 대해 "기술경영학과(MOT)" GNU MOT Member 앱에 가입함과 동시에 동의 절차를 거침으로써 개인정보 수집에 대해 동의한 것으로 봅니다.</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제3조] 개인정보의 수집목적 및 이용목적</h3>
                                <div class="terms-of-use-list">
                                    <p>"기술경영학과(MOT)"는 다음과 같은 목적을 위하여 개인정보를 수집하고 있습니다.</p>
                                    <p>서비스제공을 위한 계약의 성립(본인 식별 및 본인 의사 확인 등) </p>
                                    <p>서비스의 이행(강의의 이행, 기타 그에 관계된 행위) </p>
                                    <p>기타 새로운 서비스, 교육일정이나 행정정보 안내</p>
                                </div>
                                <p>단, 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 건강상태 및 성생활 등)는 수집하지 않습니다.</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제4조] 목적 외 사용 및 제3자에 대한 제공</h3>
                                <p>"기술경영학과(MOT)"는 귀하의 개인정보를 <개인정보의 수집목적 및 이용목적>에서 고지한 범위 내에서 사용하며, 동 범위를 초과하여 이용하거나 타인 또는 타기업.기관에 제공하지 않습니다.</p>
                                <p>그러나 보다 나은 서비스 제공을 위하여 귀하의 개인정보를 제휴사에게 제공하거나 또는 제휴사와 공유할 수 있습니다. 개인정보를 제공하거나 공유할 경우에는 사전에 귀하께 제휴사가 누구인지, 제공 또는 공유되는 개인정보 항목이 무엇인지, 왜 그러한 개인정보가 제공되거나 공유되어야 하는지, 그리고 언제까지 어떻게 보호. 관리되는지에 대해 개별적으로 전자우편 및 서면을 통해 고지하여 동의를 구하는 절차를 거치게 되며, 귀하께서 동의하지 않는 경우에는 제휴사에게 제공하거나 제휴사와 공유하지 않습니다.</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제5조] 개인정보의 열람.정정</h3>
                                <p>귀하는 언제든지 등록되어 있는 귀하의 개인정보를 열람하거나 정정하실 수 있습니다. 개인정보 열람 및 정정을 하고자 할 경우에는 <개인정보 수정>을 클릭하여 직접 열람 또는 정정하거나, 개인정보 관리 책임자에게 E-mail로 연락하시면 조치하겠습니다.</p>
                                <p>귀하가 개인정보의 오류에 대한 정정을 요청한 경우, 정정을 완료하기 전까지 당해 개인정보를 이용하지 않습니다.</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제6조] 개인정보 수집.이용.제공에 대한 동의 철회</h3>
                                <p>기술경영학과(MOT)과정 입학 등을 통해 개인정보의 수집, 이용, 제공에 대해 귀하께서 동의하신 내용을 귀하는 언제든지 철회하실 수 있습니다. 동의 철회는 과정의 자퇴를 신청하거나 GNU MOT Member 앱에서 <탈퇴신청>을 하시면 확인 후 개인정보의 삭제 등 필요한 조치를 하겠습니다.</p>
                                <p>"기술경영학과(MOT)"는 개인정보의 수집에 대한 동의 철회(과정자퇴)를 개인정보 수집 시와 동등한 방법 및 절차로 행사할 수 있도록 필요한 조치를 하겠습니다.</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제7조] 개인정보보호를 위한 기술적 대책</h3>
                                <p>"기술경영학과(MOT)"는 귀하의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다.</p>
                                <p>귀하의 개인정보는 비밀번호에 의해 보호되며, 파일 및 전송 데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.</p>
                                <p>"기술경영학과(MOT)"는 백신프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며 갑작스럽게 바이러스가 출현할 경우 백신이 나오는 즉시 이를 제공함으로써 개인정보가 침해되는 것을 방지하고 있습니다.</p>
                                <p>"기술경영학과(MOT)"는 암호알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL)를 채택하고 있습니다.</p>
                                <p>해킹 등에 의해 귀하의 개인정보가 유출되는 것을 방지하기 위해, 외부로부터의 침입을 차단하는 장치를 이용하고 있으며, 각 서버마다 침입탐지시스템을 설치하여 24시간 침입을 감시하고 있습니다.</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제8조] 개인정보의 위탁처리</h3>
                                <p>"기술경영학과(MOT)"는 서비스 향상을 위해서 귀하의 개인정보를 외부에 위탁하여 처리할 수 있습니다.</p>
                                <p>개인정보의 처리를 위탁하는 경우에는 미리 그 사실을 귀하에게 고지하겠습니다.</p>
                                <p>개인정보의 처리를 위탁하는 경우에는 위탁계약 등을 통하여 서비스제공자의 개인정보보호 관련 지시 엄수, 개인정보에 관한 비밀유지, 제3자 제공의 금지 및 사고 시의 책임부담 등을 명확히 규정하고 당해 계약내용을 서면 또는 전자적으로 보관하겠습니다.</p>
                                <p>위탁업체명 : 플랫폼비앤티 주식회사</p>
                                <p>위탁이유 : IT기술 및 하드웨어의 발달 움직임이 빨라지면서, 새로운 기술의 발 빠른 대응과 하드웨어의 업데이트에 대한 비용의 절감 및 서비스 수준을 향상시키고, IT컨설팅 및 SI전문업체의 외부전문성을 본 "기술경영학과(MOT)"의 핵심역량과 결합하여 서비스의 부가가치를 높이는 차원에서 시스템 개발 및 운영을 위탁함</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제9조] 의견수렴 및 불만처리</h3>
                                <p>"기술경영학과(MOT)"는 개인정보보호와 관련하여 귀하가 의견과 불만을 제기할 수 있는 창구를 개설하고 있습니다. 개인정보와 관련한 불만이 있으신 분은 "기술경영학과(MOT)"의 개인정보 관리 책임자에게 의견을 주시면 접수 즉시 조치하여 처리결과를 통보해 드립니다. </p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제10조] 고지의 의무</h3>
                                <p>개인정보보호방침은 정부의 정책 또는 보안기술의 변경에 따라 내용의 추가.삭제 및 수정이 있을 시에는 개정 최소 10일 전부터 홈페이지의 '공지사항' 란을 통해 고지할 것입니다.</p>
                            </div>
                        </section>

                        <section>
                            <div class="terms-of-use-sub-mb">
                                <h3>[제11조] 개인보호 관리책임자</h3>
                                <p>"기술경영학과(MOT)"는 개인정보에 대한 의견수렴 및 불만처리를 담당하는 개인정보 관리책임자를 지정하고 있습니다. 개인정보 관리 책임자는 다음과 같습니다.</p>
                                <table>
                                    <tr>
                                        <th>소속</th>
                                        <th>성명</th>
                                        <th>전화번호</th>
                                        <th>E-mail</th>
                                    </tr>
                                    <tr>
                                        <td>경상국립대학교 기술경영학과</td>
                                        <td>전정환 교수</td>
                                        <td>055-772-3744</td>
                                        <td>jhjeon@gnu.ac.kr</td>
                                    </tr>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- sh_container [e] -->
    
    <%- include('../include/footer.ejs') %>

<!-- sh_wrapper [e] -->
</div>

<script>
    feather.replace();
    AOS.init();
</script>

</body>
</html>

