<!doctype html>
<html lang="ko">
<%- include('../include/head.ejs') %>
<script src="/resources/js/jquery-1.8.3.min.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery.easing.min.js"></script>
<script src="/resources/js/topmenu_script.js"></script>
<script src="/resources/js/aos.js"></script>
<script src="/resources/js/feather.min.js"></script>
<link rel="stylesheet" href="/resources/css/aos.css">
<link rel="stylesheet" href="/resources/css/sh_common.css"> 
<link rel="stylesheet" href="/resources/css/sh_sub.css">     
<link rel="stylesheet" href="/resources/css/style.css">     

<body>

<!-- sh_wrapper [s] -->
<div id="sh_wrapper">

    <!-- sh_hd [s] -->
    <%- include('../include/sidebar.ejs') %>
    <!-- sh_hd [e] -->
    
    <!-- sh_container [s] -->
    <main id="sh_container">
        <!-- shSubBnr [s] -->
        <div id="subBnr">
            <div class="txt_area">
                회사소개        
                <!-- <span>회사소개</span> -->
            </div>
        </div> 
        <script>
            $('#subBnr .txt_area').stop().delay(0).animate({"opacity":"1","padding-top":"0"},400);
        </script>
        <!-- shSubBnr [e] -->

        <div id="sh_container_wrapper">
            <!-- sh_aside [s] -->
            <div id="sh_aside">
                <div id="sh_aside_wrapper">
                    <ul id="sh_snb">
                        <li>
                            <a href="/about/aboutCompany">회사소개</a>
                        </li>
                        <li>
                            <a href="/about/aboutCeo" class="snb_on">CEO 인사말</a>
                        </li>
                        <li>
                            <a href="/about/aboutHistory">연혁</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sh_aside [e] -->
            
            <div id="sh_content" data-aos="fade-up">
                <div class="intro-title">
                    <h1>CEO 인사말</h1>
                    <p >혁신과 성장을 이끄는 Platform B&T의 리더십</p>
                </div>
                <div class="executive-intro">
                    <div class="intro-text">
                        <p>안녕하십니까, Platform B&T의 대표이사 김종진입니다.</p>
                        <p>먼저 고객 여러분의 변함없는 관심과 성원에 깊이 감사드립니다.</p>
                        <p>저희 <b>Platform B&T 주식회사</b>는 단순한 수익 창출을 넘어서, 고객과 함께 성장하고 공유할 수 있는 신뢰할 수 있는 파트너로 자리매김하고 있습니다.</p>
                        <p>2024년 4월 1일에 설립된 저희 회사는 기술을 통한 사회적 가치를 창출하며, 사람 중심의 혁신적인 솔루션을 제공하고자 모든 역량을 집중하고 있습니다.</p>
                        <p>스마트 제조, 인공지능(AI), 디지털 트윈 등 신기술을 활용하여 제조 산업을 혁신하는 데 기여하고 있습니다.</p>
                        <p>저희는 고객과 함께 도전하고, 끊임없이 발전하며 혁신을 이뤄내는 기업이 되겠습니다.</p>
                        <p>언제나 변함없는 관심과 성원에 감사드리며, 여러분의 기대에 부응하는 Platform B&T가 되겠습니다.</p>
                        <p>앞으로도 저희와 함께 성장하는 여정에 함께해 주시기 바랍니다.</p>
                        <p>Platform B&T 대표이사 김종진 드림</p>
                    </div>
                    <div class="intro-image">
                        <img src="/resources/img/sub/ceo.jpg" alt="김종진 대표">
                        <div class="image-caption">
                            <p>김종진</p>
                            <span>대표이사</span>
                        </div>
                    </div>
                </div>

                <div class="executive-intro-1">
                    <div class="executive-intro-box">
                        <div class="executive-intro-history">
                            <h2>대표이사 경력</h2>
                            <ul>
                                <li>(現) 플랫폼비앤티(주) 대표 (24년 4월~)</li>
                                <li>(주)테이아 사업담당 부사장 (20~23년)</li>
                                <li>스마트공장용 실시간위치측정솔루션 공급</li>
                                <li>현대오토에버(주) 임원 ('01~'18년)</li>
                                <li>현대차그룹 IT전문사 기획/전략/사업</li>
                                <li>대우자동차(주) 연구원 ('96~'00년)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="executive-intro-box">
                        <div class="executive-intro-education">
                            <h2>대표이사 학력 및 자격</h2>
                            <ul>
                                <li>MBA</li>
                                <li>재료공학석사</li>
                                <li>미국공인회계사</li>
                                <li>기술경영(DT, AI) 박사과정 (25년 3월~)</li>
                                <li>경상국립대 기술경영학과 박사과정</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- sh_container [e] -->
    
    <%- include('../include/footer.ejs') %>

<!-- sh_wrapper [e] -->
</div>

<script>
    feather.replace();
    AOS.init({
        duration: 1200, // 애니메이션 지속 시간 (밀리초)
        easing: 'ease-in-out', // 애니메이션 이징
        once: true, // 스크롤 시 한 번만 애니메이션 실행
    });
</script>

</body>
</html>

