<!doctype html>
<html lang="ko">
<%- include('../include/head.ejs') %>
<script src="/resources/js/jquery-1.8.3.min.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery.easing.min.js"></script>
<script src="/resources/js/topmenu_script.js"></script>
<script src="/resources/js/aos.js"></script>
<script src="/resources/js/feather.min.js"></script>
<link rel="stylesheet" href="/resources/css/aos.css">
<link rel="stylesheet" href="/resources/css/sh_common.css"> 
<link rel="stylesheet" href="/resources/css/sh_sub.css">     
<link rel="stylesheet" href="/resources/css/style.css">     

<body>

<!-- sh_wrapper [s] -->
<div id="sh_wrapper">

    <!-- sh_hd [s] -->
    <%- include('../include/sidebar.ejs') %>
    <!-- sh_hd [e] -->
    
    <!-- sh_container [s] -->
    <main id="sh_container">
        <!-- shSubBnr [s] -->
        <div id="subBnr">
            <div class="txt_area">
                회사소개        
            </div>
        </div> 
        <script>
            $('#subBnr .txt_area').stop().delay(0).animate({"opacity":"1","padding-top":"0"},400);
        </script>
        <!-- shSubBnr [e] -->

        <div id="sh_container_wrapper" data-aos="fade-up">
            <!-- sh_aside [s] -->
            <div id="sh_aside">
                <div id="sh_aside_wrapper">
                    <ul id="sh_snb">
                        <li>
                            <a href="/about/aboutCompany" class="snb_on">회사소개</a>
                        </li>
                        <li>
                            <a href="/about/aboutCeo">CEO 인사말</a>
                        </li>
                        <li>
                            <a href="/about/aboutHistory">연혁</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sh_aside [e] -->
            
            <div id="sh_content" data-aos="fade-up">
                <!-- 서브페이지 [s] -->
                <div id="greeting" class="pagecommon">
                    <div class="tit_area">
                        빠르게 발전하는 Smart IT 세상<br />
                        <p><b>IT 상장기업 Platform B&T</b>는 함께 성장하는 미래를 만듭니다.</p>
                    </div>
                    <div class="img"></div>
                    <div class="cont" data-aos="fade-up">
                        <h2>Platform B&T</b>는 다음과 같은 주요 사업 분야에서 활동하고 있습니다.</h2>
                        <div class="box_wrap">
                            <ul>
                                <li><div class="box">제조 자동화 및 최적화 컨설팅</div></li>
                                <li><div class="box">스마트 및 자율 공장 소프트웨어 개발</div></li>
                                <li><div class="box">인공지능(AI) 기반 소프트웨어 개발</div></li>
                                <li><div class="box">AI 및 디지털 트윈 기반 연구 개발 과제 발굴 및 수행</div></li>
                                <li><div class="box">정보 및 물리 보안(대리점 운영)</div></li>
                            </ul>
                        </div>
                    </div>

                    <div class="container" data-aos="fade-up">
                        <!-- 헤더 -->
                        <div class="header">
                            <div>실적</div>
                            <div>목표</div>
                            <div>미션</div>
                            <div>성장전략</div>
                        </div>
                
                        <!-- 콘텐츠 박스 -->
                        <div class="content">
                            <div class="card">
                                <ul class="list">
                                    <li>가공 데이터베이스 및 인공지능 분석 기반 최적화 소프트웨어 개발</li>
                                    <li>CATIA 및 NC가공 공정 교육 콘텐츠 개발</li>
                                    <li>이를 통해 고객들에게 보다 효율적이고 혁신적인 가치를 제공하고 있습니다. 
                                        이처럼 우리는 끊임없는 기술 발전과 함께 제조업 디지털 전환을 선도하고 있습니다.
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <ul class="list">
                                    <li>인공지능, 디지털 트윈, 로봇 등 신기술을 활용하여 품질, 원가, 납기 측면에서의 혁신을 이루고, 제품의 가치를 극대화하는 것입니다. 
                                        이를 통해 고객이 미래의 변화를 주도할 수 있도록 돕는 동반자가 되고자 합니다.
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <ul class="list">
                                    <li>저희의 미션은 제조 산업의 디지털 전환을 가속화하는 플랫폼 기업으로 자리매김하는 것이며, 성장을 위한 전략으로 <b>Connect & Biz. Development (C&BD)</b>를 채택하고 있습니다. 이는 네트워킹과 파트너십을 통해 새로운 기회를 발굴하고, 제품 및 서비스 혁신을 이룩하여 사업을 확장하는 것을 목표로 합니다.
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <ul class="list">
                                    <li>디지털전환 역량 개발로 기술 기업 지향</li>
                                    <li>오픈과 협업으로 협력 플랫폼 지향</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 서브페이지 [e] -->
            </div>
        </div>
    </main>
    <!-- sh_container [e] -->
    
    <%- include('../include/footer.ejs') %>

<!-- sh_wrapper [e] -->
</div>

<script>
    feather.replace();
    AOS.init({
        duration: 800, // 애니메이션 지속 시간 (밀리초)
        easing: 'ease-in-out', // 애니메이션 이징
        once: true, // 스크롤 시 한 번만 애니메이션 실행
    });
</script>

</body>
</html>

