<!doctype html>
<html lang="ko">
<%- include('../include/head.ejs') %>
<script src="/resources/js/jquery-1.8.3.min.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery.easing.min.js"></script>
<script src="/resources/js/topmenu_script.js"></script>
<script src="/resources/js/aos.js"></script>
<script src="/resources/js/feather.min.js"></script>
<link rel="stylesheet" href="/resources/css/aos.css">
<link rel="stylesheet" href="/resources/css/sh_common.css"> 
<link rel="stylesheet" href="/resources/css/sh_sub.css">     
<!-- <link rel="stylesheet" href="/resources/css/style.css">      -->

<body>

<!-- sh_wrapper [s] -->
<div id="sh_wrapper">

    <!-- sh_hd [s] -->
    <%- include('../include/sidebar.ejs') %>
    <!-- sh_hd [e] -->
    
    <!-- sh_container [s] -->
    <main id="sh_container">
        <!-- shSubBnr [s] -->
        <div id="subBnr">
            <div class="txt_area">
                회사소개        
            </div>
        </div> 
        <script>
            $('#subBnr .txt_area').stop().delay(0).animate({"opacity":"1","padding-top":"0"},400);
        </script>
        <!-- shSubBnr [e] -->

        <div id="sh_container_wrapper" data-aos="fade-up">
            <!-- sh_aside [s] -->
            <div id="sh_aside">
                <div id="sh_aside_wrapper">
                    <ul id="sh_snb">
                        <li>
                            <a href="/about/aboutCompany" class="snb_on">회사소개</a>
                        </li>
                        <li>
                            <a href="/about/aboutCeo">CEO 인사말</a>
                        </li>
                        <li>
                            <a href="/about/aboutHistory">연혁</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- sh_aside [e] -->
            
            <div id="sh_content" data-aos="fade-up">
                <!-- 서브페이지 [s] -->
                <div id="greeting" class="pagecommon">
                    <div class="tit_area" data-aos="fade-up">
                        <div class="pbnt_icon">
                            <img src="/resources/img/common/logo.png" alt="pbnt_icon">
                        </div>
                        빠르게 발전하는 Smart IT 세상<br />
                        <p><b>IT 상장기업 Platform B&T</b>는 함께 성장하는 미래를 만듭니다.</p>
                    </div>
                    <div class="cont" data-aos="fade-up">
                        <div class="cont-inner">
                            <div class="cont-title">사업 분야</div>
                            <ul class="cont-list">
                                <li class="cont-list-item">제조 자동화 및 <br>최적화 컨설팅</li>
                                <li class="cont-list-item">스마트 및 자율 공장 <br>소프트웨어 개발</li>
                                <li class="cont-list-item">인공지능(AI) 기반 <br>소프트웨어 개발</li>
                                <li class="cont-list-item">AI 및 디지털 트윈 기반 <br>연구 개발 과제 <br>발굴 및 수행</li>
                                <li class="cont-list-item">정보 및 물리 보안 <br>(대리점 운영)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 서브페이지 [e] -->
            </div>
        </div>
    </main>
    <!-- sh_container [e] -->
    
    <%- include('../include/footer.ejs') %>

<!-- sh_wrapper [e] -->
</div>

<script>
    feather.replace();
    AOS.init({
        duration: 800, // 애니메이션 지속 시간 (밀리초)
        easing: 'ease-in-out', // 애니메이션 이징
        once: true, // 스크롤 시 한 번만 애니메이션 실행
    });
</script>

</body>
</html>

